<p id="notice"><%= notice %></p>

<div class="title_box">

<% @filter_tattoos.each do |tattoo| %>
  <div class="tattoo_box">
      <div class="tattoo_name"><td><%= tattoo.name %></td></div>
        <td>
          <% new_params=[] %>
          <% params.each do |key,value| %>
            <%new_params << key+'='+value %>
          <% end %>

          <% url = "http://localhost:3000/tattoos/#{tattoo.id}?"+new_params.join('&') %>
          
          <%= link_to url do %>
            <%=image_tag tattoo.image_link_url.to_s ,:class=> 'tattoo_img'%>
          <% end %>
        </td>
    </div>
  <% end %>

</div>
