<p id="notice"><%= notice %></p>

<h1>Tattoos</h1>
<% @filter %>
<% @style_list %>
<% @body_part_list %>

<% @filter_tattoos.each do |tattoo| %>
  <tr id='<%= tattoo.id %>'>
    <td><%= tattoo.name %></td>
    <td><%= image_tag tattoo.image_link_url.to_s %></td>
  </tr>
<% end %>
